@using DiscordSecretSanta.Core.ViewModels
@inject IStringLocalizer<IndexPageResources> Translate

<CenterBlock Title="@Translate["Your Secret Santa"]">
    <Div Margin="Margin.Is3.FromBottom">
        <DiscordBlock 
            User="@User"
            IsSmall="true"
            ShowIsAdmin="false"
        />
    </Div>
    
    @if (User.HasWishlist)
    {
        @if (Status == SecretSantaStatus.Arrived)
        {
            <Alert Color="Color.Success">
                <AlertMessage>Your gift has been received!</AlertMessage>
            </Alert>
        }
        else
        {
            <FullWidthButton
                Color="Color.Primary"
                Clicked="@(async () => await ViewTheirWishlist())">
                @Translate["View their wishlist"]
            </FullWidthButton>
            
            @if (Status == SecretSantaStatus.Assigned)
            {
                <FullWidthButton
                    Color="Color.Success"
                    Clicked="@(async () => await OnPostedClicked(SecretSantaStatus.Posted))">
                    @Translate["Gift is on the way"]
                </FullWidthButton>
            }
        }
    }
    else
    {
        <Alert Color="Color.Danger"Visible>
            <AlertMessage>@Translate["User does not have a wishlist"]</AlertMessage>
        </Alert>
    }
</CenterBlock>

@code {
    [Parameter]
    public UserViewModel User { get; set; }
    
    [Parameter]
    public SecretSantaStatus Status { get; set; }
    
    [Parameter]
    public Func<Task> ViewTheirWishlist { get; set; }
    
    [Parameter]
    public Func<SecretSantaStatus, Task> OnPostedClicked { get; set; }
}