<ThemeProvider Theme="@theme">
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <DiscordSecretSanta.Blazor.Pages.RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</ThemeProvider>

<ModalProvider />

@code{
    private Theme theme = new()
    {
        ColorOptions = new()
        {
            Dark = "#31333D",
            Primary = "#5865F2",
        },
        BackgroundOptions = new()
        {
            Light = "#313338",
            Dark = "#2A2D30"
        },
        IsRounded = true,
        CardOptions = new()
        {
            BorderRadius = "5px",
        },
        ButtonOptions = new()
        {
            Padding = "10px 32px",
            BorderRadius = "3px"
        }
    };
}