<ThemeProvider Theme="@theme">
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <DiscordSecretSanta.Blazor.Pages.RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</ThemeProvider>

@code{
    private Theme theme = new()
    {
        ColorOptions = new()
        {
            Dark = "31333D",
        },
        IsRounded = true,
        CardOptions = new()
        {
            BorderRadius = "5px",
        }
    };
}