@page "/"
@inject IUserLoginViewHandler ViewModelHandler
@using DiscordSecretSanta.Blazor.Pages.IndexPage.Components
@inject IStringLocalizer<IndexPageResources> Translate

@if (_viewModel is null)
{
    <h1>Not loaded</h1>
}
else
{
    <PageTitle>@_viewModel.Title</PageTitle>
    
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudText Typo="Typo.h1" Color="Color.Primary" Align="Align.Center">@_viewModel.Title</MudText>

        <div class="my-10 mx-auto" Style="width: 60%;">
            <SignUpStep Step="1" 
                        IsDone="@_viewModel.HasUser"
            >
                @if (_viewModel.HasUser == false)
                {
                    <MudButton
                        DisableElevation="true"
                        Size="Size.Large"
                        Color="Color.Primary"
                        Variant="Variant.Filled"
                        Class="my-8"
                        Href="/Account/Login"
                    >@Translate["SignInButtonText"]</MudButton>
                }
                else
                {
                    <DiscordBlock
                        Class="my-4"
                        TagId="@_viewModel.User!.DiscordTagId"
                        Name="@_viewModel.User.Name"
                        Avatar="@_viewModel.User.AvatarId"
                        UserId="@_viewModel.User.UserId"
                    ></DiscordBlock>
                }
            </SignUpStep>
            <SignUpStep Step="2" 
                        IsDone="@_viewModel.HasWishlist"
                        IsDisabled="@(!_viewModel.HasUser)"
                        >
                @if (_viewModel.HasWishlist == false)
                {
                    <MudTextField @bind-Value="@InputWishlistUrl"
                                  Label="@Translate["WishlistUrl"]"
                                  Class="mr-2"
                                  Variant="Variant.Outlined"
                                  Disabled="@(!_viewModel.HasUser)"
                    ></MudTextField>
                    <MudButton Disabled="@(!_viewModel.HasUser || InputWishlistUrl == "")"
                               Variant="Variant.Filled"
                               DisableElevation="true"
                               Class="my-2"
                               >Submit</MudButton>
                }
            </SignUpStep>
        </div>
    </MudContainer>
}

@code {

    UserLoginViewModel? _viewModel = null;

    private string InputWishlistUrl { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _viewModel = await ViewModelHandler.OnInitAsync();
    }

}