@using DiscordSecretSanta.Core.ViewModels
@inject IStringLocalizer<SharedResources> Translate

@if (User is not null)
{
    <Row>
        <Column ColumnSize="@AvatarColumnSize">
            <Figure>
                <FigureImage
                    Source="@AvatarUrl"
                    Style="border-radius: 50%;"/>
            </Figure>
        </Column>
        <Column ColumnSize="@NameColumnSize">
            <Heading Size="@HeadingSize" TextWeight="TextWeight.Bold">
                <Span TextColor="TextColor.White">@User.Name</Span>
                <Span>#@User.DiscordTagId</Span>
            </Heading>
            <div>
                @if (User.IsAdmin && ShowIsAdmin)
                {
                    <Badge Color="Color.Primary">@Translate["Admin"]</Badge>
                }

                @if (ChildContent is not null)
                {
                    @ChildContent
                }
            </div>
        </Column>
    </Row>
}

@code {
    string AvatarUrl => $"https://cdn.discordapp.com/avatars/{User.UserId}/{User.AvatarId}";
    IFluentColumnOnBreakpointWithOffsetAndSize AvatarColumnSize => IsSmall ? ColumnSize.Is3 : ColumnSize.Is2;
    IFluentColumnOnBreakpointWithOffsetAndSize NameColumnSize => IsSmall ? ColumnSize.Is9 : ColumnSize.Is10;
    HeadingSize HeadingSize => IsSmall ? HeadingSize.Is5 : HeadingSize.Is4;
    
    [Parameter]
    public UserViewModel User { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null;

    [Parameter]
    public bool ShowIsAdmin { get; set; } = true;

    [Parameter]
    public bool IsSmall { get; set; } = false;

}