@using DiscordSecretSanta.Core.ViewModels
@inject IStringLocalizer<SharedResources> Translate

@if (User is not null)
{
    <Div Display="Display.Flex">
        <Figure 
            Margin="@(IsSmall ? Margin.Is2 : Margin.Is4)"
            Style="@Size"
        >
            <FigureImage
                Source="@AvatarUrl"
                Style="border-radius: 50%;"/>
        </Figure>
        <Div>
            <Span TextColor="TextColor.White" Display="Display.InlineBlock">@User.Name</Span>
            <Span Display="Display.InlineBlock">#@User.DiscordTagId</Span>
            <div>
                @if (User.IsAdmin && ShowIsAdmin)
                {
                    <Badge Color="Color.Primary">@Translate["Admin"]</Badge>
                }

                @if (ChildContent is not null)
                {
                    @ChildContent
                }
            </div>
        </Div>
    </Div>
}

@code {
    string AvatarUrl => $"https://cdn.discordapp.com/avatars/{User.UserId}/{User.AvatarId}";
    IFluentColumnOnBreakpointWithOffsetAndSize AvatarColumnSize => IsSmall ? ColumnSize.Is3 : ColumnSize.Is2;
    IFluentColumnOnBreakpointWithOffsetAndSize NameColumnSize => IsSmall ? ColumnSize.Is9 : ColumnSize.Is10;
    HeadingSize HeadingSize => IsSmall ? HeadingSize.Is5 : HeadingSize.Is4;
    string Size => IsSmall ? "width: 32px; height: 32px;" : "width: 64px; height: 64px;";

    [Parameter]
    public UserViewModel User { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null;

    [Parameter]
    public bool ShowIsAdmin { get; set; } = true;

    [Parameter]
    public bool IsSmall { get; set; } = false;
}